 .u-section-1 {
  background-image: url("images/ww.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("images/man-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 691px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 17px 30px 25px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  margin: 69px 25px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 25px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 23px auto 0 0;
  padding: 10px 57px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
    background-position: 66.88% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 15px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 770px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 451px;
    background-position: 56.04% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 723px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 655px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 423px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 478px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 10px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 607px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 571px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 20px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 530px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
}

.u-section-2 .u-container-layout-2 {
  padding: 160px 20px 26px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 20px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 530px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 20px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 571px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  animation-timing-function: ease-in;
}

.u-section-2 .u-container-layout-4 {
  padding: 160px 20px 30px;
}

.u-section-2 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 20px;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 437px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 140px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 437px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 471px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 140px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 746px;
    margin: 30px -13px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 482px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 482px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 717px;
}

.u-section-3 .u-group-1 {
  width: 889px;
  min-height: 368px;
  background-image: none;
  margin: 81px 30px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 370px;
}

.u-section-3 .u-text-1 {
  margin-top: 40px;
  margin-bottom: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0 0;
  padding: 10px 60px 10px 59px;
}

.u-section-3 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("images/jj.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -307px auto 0 30px;
}

.u-section-3 .u-shape-1 {
  width: 228px;
  height: 228px;
  margin: -180px 361px 20px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-3 .u-group-1 {
    width: 763px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 484px;
    height: 484px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -78px;
    margin-right: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-3 .u-group-1 {
    width: 577px;
    min-height: 426px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 40px 40px 130px 60px;
  }

  .u-section-3 .u-image-1 {
    width: 405px;
    height: 405px;
    margin-top: -93px;
  }

  .u-section-3 .u-shape-1 {
    width: 192px;
    height: 192px;
    margin-top: -87px;
    margin-right: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-3 .u-group-1 {
    width: 466px;
    min-height: 446px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 30px 100px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -88px;
  }

  .u-section-3 .u-shape-1 {
    width: 148px;
    height: 148px;
    margin-top: -51px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-3 .u-group-1 {
    width: 309px;
  }

  .u-section-3 .u-image-1 {
    height: 285px;
    width: 285px;
    margin-top: -110px;
  }

  .u-section-3 .u-shape-1 {
    width: 127px;
    height: 127px;
    margin-top: 20px;
    margin-right: 22px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 513px;
}

.u-section-4 .u-list-1 {
  margin: 50px 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 268px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-list-item-1 {
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 40px 20px;
}

.u-section-4 .u-line-1 {
  width: 41px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-align: left;
  margin: 12px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  text-align: left;
  font-size: 0.875rem;
  margin: 18px 0 0;
}

.u-section-4 .u-list-item-2 {
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 40px 20px;
}

.u-section-4 .u-line-2 {
  width: 41px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  text-align: left;
  margin: 12px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  text-align: left;
  font-size: 0.875rem;
  margin: 18px 0 0;
}

.u-section-4 .u-list-item-3 {
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 40px 20px;
}

.u-section-4 .u-line-3 {
  width: 41px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  text-align: left;
  margin: 12px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  text-align: left;
  font-size: 0.875rem;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 221px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 508px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-4 .u-list-item-1,
.u-section-4 .u-list-item-1:before,
.u-section-4 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-list-item-2,
.u-section-4 .u-list-item-2:before,
.u-section-4 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-list-item-3,
.u-section-4 .u-list-item-3:before,
.u-section-4 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-4 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
} .u-section-5 {
  background-image: none;
  min-height: 1193px;
}

.u-section-5 .u-shape-1 {
  width: 818px;
  height: 504px;
  margin: -20px 0 0 auto;
}

.u-section-5 .u-image-1 {
  height: 701px;
  width: 1085px;
  object-position: 100% 50%;
  margin: -427px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 689px;
  margin: -170px auto 57px calc(((100% - 1140px) / 2) + 102px);
}

.u-section-5 .u-layout-cell-1 {
  min-height: 543px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-5 .u-container-layout-1 {
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  box-shadow: 2px 2px 9px 0px rgba(128,128,128,1);
  padding: 30px 50px;
}

.u-section-5 .u-text-1 {
  margin: 92px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 57px auto 0 0;
  padding: 10px 57px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 923px;
  }

  .u-section-5 .u-image-1 {
    height: 607px;
    width: 848px;
    margin-top: -492px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 876px;
    margin: -232px calc(((100% - 940px) / 2) + -20px) 23px auto;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 906px;
  }

  .u-section-5 .u-shape-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    height: 446px;
    width: 720px;
    margin-top: -496px;
    margin-left: calc(((100% - 720px) / 2) + -26px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 663px;
    margin-top: -122px;
    margin-right: calc(((100% - 720px) / 2) + -28px);
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 828px;
  }

  .u-section-5 .u-shape-1 {
    width: 307px;
    height: 751px;
    margin-top: -16px;
  }

  .u-section-5 .u-image-1 {
    height: 335px;
    width: 540px;
    margin-top: -744px;
    margin-left: calc(((100% - 540px) / 2) + -30px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 439px;
    margin-top: -32px;
    margin-right: calc(((100% - 540px) / 2) + -13px);
    margin-bottom: 50px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 449px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 838px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 228px);
    height: 797px;
    margin-top: -9px;
  }

  .u-section-5 .u-image-1 {
    height: 261px;
    width: 390px;
    margin-top: -805px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 309px;
    margin-top: -19px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-section-5 .u-layout-cell-1,
.u-section-5 .u-layout-cell-1:before,
.u-section-5 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  box-shadow: 2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-layout-cell-1 {
  border-color: transparent !important;
}

.u-section-5 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  box-shadow: 2px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-layout-cell-1 {
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 615px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 487px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 487px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-list-1 {
  margin-bottom: 0;
  margin-top: 92px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 403px;
  grid-gap: 0px 0px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-6 .u-group-elements-1 {
  min-height: 147px;
  margin-top: -91px;
  margin-bottom: 0;
  height: auto;
  width: 331px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 0 0 10px;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 23px 10px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-6 .u-group-elements-2 {
  min-height: 147px;
  margin-top: -91px;
  margin-bottom: 0;
  height: auto;
  width: 331px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 0 0 10px;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 23px 10px 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-6 .u-group-elements-3 {
  min-height: 147px;
  margin-top: -91px;
  margin-bottom: 0;
  height: auto;
  width: 331px;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 0 0 10px;
}

.u-section-6 .u-text-9 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 23px 10px 0 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-6 .u-group-elements-4 {
  min-height: 147px;
  margin-top: -91px;
  margin-bottom: 0;
  height: auto;
  width: 331px;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 0 0 10px;
}

.u-section-6 .u-text-11 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 23px 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 438px;
  }

  .u-section-6 .u-group-elements-1 {
    margin-top: 0;
    width: auto;
  }

  .u-section-6 .u-group-elements-2 {
    margin-top: 0;
    width: auto;
  }

  .u-section-6 .u-group-elements-3 {
    margin-top: 0;
    width: auto;
  }

  .u-section-6 .u-group-elements-4 {
    margin-top: 0;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 48px;
    margin-bottom: 12px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 603px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 12px 26px;
  }

  .u-section-6 .u-list-1 {
    width: 661px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 456px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-list-1 {
    width: 520px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 326px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-top: 61px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: -40px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 460px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 10px;
  }

  .u-section-6 .u-group-elements-1 {
    margin-bottom: -42px;
    width: auto;
  }

  .u-section-6 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 10px;
  }

  .u-section-6 .u-group-elements-2 {
    margin-bottom: -42px;
    width: auto;
  }

  .u-section-6 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 10px;
  }

  .u-section-6 .u-group-elements-3 {
    margin-bottom: -42px;
    width: auto;
  }

  .u-section-6 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-6 {
    padding-bottom: 10px;
  }

  .u-section-6 .u-group-elements-4 {
    margin-bottom: -42px;
    width: auto;
  }

  .u-section-6 .u-text-10 {
    font-size: 2.25rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1052px;
}

.u-section-7 .u-shape-1 {
  width: 570px;
  height: 782px;
  margin: 220px auto 0;
}

.u-section-7 .u-shape-2 {
  width: 806px;
  height: 571px;
  background-image: none;
  margin: -1001px 122px 0 auto;
}

.u-section-7 .u-image-1 {
  width: 887px;
  height: 528px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -461px 82px 0 auto;
}

.u-section-7 .u-group-1 {
  min-height: 484px;
  width: 651px;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -196px auto 60px 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-7 .u-text-1 {
  letter-spacing: normal;
  text-transform: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.8;
  margin: 32px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 0 0;
  padding: 10px 57px 11px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-7 .u-shape-2 {
    width: 586px;
  }

  .u-section-7 .u-image-1 {
    width: 840px;
    object-position: 100% 50%;
    margin-right: 53px;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-7 .u-shape-1 {
    width: 543px;
    height: 692px;
    margin-left: 75px;
  }

  .u-section-7 .u-shape-2 {
    height: 435px;
    margin-top: -1026px;
    margin-right: 32px;
  }

  .u-section-7 .u-image-1 {
    width: 688px;
    height: 431px;
    margin-top: -365px;
    margin-right: 0;
  }

  .u-section-7 .u-group-1 {
    min-height: 504px;
    width: 545px;
    margin-top: -46px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-7 .u-shape-1 {
    width: 482px;
    height: 618px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-shape-2 {
    width: 423px;
    height: 375px;
    margin-top: -952px;
    margin-right: 47px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 338px;
    margin-top: -305px;
  }

  .u-section-7 .u-group-1 {
    width: 493px;
    margin-top: -33px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 156px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-shape-2 {
    height: 155px;
    margin-top: -824px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    width: 391px;
    height: 261px;
    margin-top: -135px;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-7 .u-group-1 {
    min-height: 536px;
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-section-7 .u-group-1,
.u-section-7 .u-group-1:before,
.u-section-7 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-group-1.u-group-1.u-group-1:hover {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-7 .u-group-1 {
  border-color: transparent !important;
}

.u-section-7 .u-group-1.u-group-1.u-group-1.hover {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-7 .u-group-1 {
  border-color: transparent !important;
}

.u-section-7 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 804px;
}

.u-section-8 .u-video-1 {
  height: 573px;
  width: 1020px;
  margin: 45px auto 0;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-8 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-8 .u-text-2 {
  width: 680px;
  margin: 16px auto 36px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-8 .u-video-1 {
    height: 528px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-8 .u-video-1 {
    height: 404px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-8 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-8 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .embed-responsive-1 {
    width: 100%;
    height: 100%;
    left: auto;
    top: auto;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1074px;
}

.u-section-9 .u-group-1 {
  width: 710px;
  min-height: 675px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 88px -14px 0 auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-9 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  margin: 0 1px;
}

.u-section-9 .u-form-1 {
  width: 447px;
  margin: 20px auto 0;
}

.u-section-9 .u-form-group-3 {
  margin-left: 0;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
}

.u-section-9 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 700;
  margin: -25px auto 0;
  padding: 10px 131px 12px 129px;
}

.u-section-9 .u-image-1 {
  width: 570px;
  height: 698px;
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -490px auto 0 0;
}

.u-section-9 .u-list-1 {
  width: 651px;
  height: auto;
  margin: -119px 28px 0 auto;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 162px;
  grid-gap: 0px 0px;
}

.u-section-9 .u-list-item-1 {
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-9 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-9 .u-icon-1 {
  height: 22px;
  width: 22px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 20px;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -62px 38px 0 2px;
}

.u-section-9 .u-text-3 {
  margin: 10px 0 0;
}

.u-section-9 .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-9 .u-container-layout-3 {
  padding: 15px 30px;
}

.u-section-9 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 30px auto 0 0;
  padding: 20px;
}

.u-section-9 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -62px 38px 0 2px;
}

.u-section-9 .u-text-5 {
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 235px;
  }

  .u-section-9 .u-image-1 {
    width: 443px;
    height: 607px;
    margin-top: -469px;
  }

  .u-section-9 .u-list-1 {
    width: 880px;
    margin-top: -40px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 55px;
    padding-bottom: 25px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-left: 42px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 32px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-top: 55px;
    padding-bottom: 25px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-left: 42px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-9 .u-group-1 {
    width: 509px;
    margin-top: 49px;
    margin-right: -38px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
  }

  .u-section-9 .u-image-1 {
    width: 331px;
    height: 392px;
    margin-top: -357px;
    margin-left: -36px;
  }

  .u-section-9 .u-list-1 {
    width: 692px;
    margin-top: -35px;
    margin-right: auto;
    margin-left: -36px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 224px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 41px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 41px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1477px;
  }

  .u-section-9 .u-group-1 {
    width: 473px;
    margin-top: 50px;
    margin-right: -24px;
    margin-left: 91px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-form-1 {
    width: 433px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    width: 420px;
    height: 497px;
    margin-top: -54px;
    margin-left: 29px;
  }

  .u-section-9 .u-list-1 {
    width: 301px;
    margin-top: -61px;
    margin-bottom: 50px;
    margin-left: -19px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 321px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 42px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
    margin-left: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1428px;
  }

  .u-section-9 .u-group-1 {
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-form-1 {
    height: 375px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-btn-1 {
    padding: 9px 108px 11px 106px;
  }

  .u-section-9 .u-btn-2 {
    padding: 11px 60px 11px 59px;
  }

  .u-section-9 .u-image-1 {
    height: 392px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-list-1 {
    margin-top: -8px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 15px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 15px;
  }
}

.u-section-9 .u-image-1,
.u-section-9 .u-image-1:before,
.u-section-9 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-9 .u-image-1 {
  border-color: transparent !important;
}

.u-section-9 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-9 .u-image-1 {
  border-color: transparent !important;
}

.u-section-9 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-9 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-9 .u-list-item-1,
.u-section-9 .u-list-item-1:before,
.u-section-9 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-9 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-9 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-9 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-9 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-9 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-9 .u-list-item-2,
.u-section-9 .u-list-item-2:before,
.u-section-9 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-9 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-9 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-9 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: translateY(px) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-9 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-9 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-9 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}